<form [formGroup]="form" (ngSubmit)="grava()">
    <div class="row">
        <div class="col-6">
            <label>Dependente</label>
            <app-ic-autocomplete formControlName="dependente" />
        </div>
        <div class="col-5">
            <label>Observação</label>
            <input type="text" class="form-control" formControlName="observacao" />
        </div>
        <div class="col-1 mt-4 text-end">
            <button class="btn btn-primary" type="submit"><i class="pi pi-save"></i> </button>
        </div>
    </div>
</form>