<p-confirmpopup />
<form [formGroup]="form" (ngSubmit)="grava()">
    <div class="row">
        <div class="col-6">
            @if (dependente()){
            <label>Dependente</label>
            }@else {
            <label>Principal</label>
            }

            <app-ic-autocomplete formControlName="dependente" />
        </div>
        <div class="col-5">
            <label>Observação</label>
            <input type="text" class="form-control" formControlName="observacao" />
        </div>
        <div class="col-1 mt-4 text-end">
            <button class="btn btn-primary" type="submit"><i class="pi pi-save"></i> </button>
        </div>
    </div>
</form>
<div class="row">
    <div class="col-12">
        <p-table [value]="lista()">
            <ng-template #header>
                <tr>
                    <th>
                        @if (dependente())
                        {
                        <span>Ic Dependente</span>
                        } @else {
                        <span>Ic Principal</span>
                        }
                    </th>
                    <th>Observação</th>
                    <th>Ação</th>
                </tr>
            </ng-template>
            <ng-template #body let-item>
                <tr>
                    <td>

                        @if (dependente())
                        {
                        <span>{{ item.icDependente.nomeCompleto }}</span>
                        } @else {
                        <span>{{ item.icPrincipal.nomeCompleto }}</span>
                        }



                    </td>
                    <td>{{ item.observacao }}</td>
                    <td class="text-end">
                        <button (click)="exclui(item, $event)" class="btn btn-danger btn-sm ms-2">
                            <i class="pi pi-trash"></i>
                        </button>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>