<div class="row">
    <div class="col-6 offset-3">
        <div class="card">
            <div class="card-header">Recuperação de Senha</div>
            <div class="card-body">
                <!-- <form [formGroup]="formRecuperacao" (ngSubmit)="recuperarSenha()"> -->
                <div class="mb-3">
                    <label for="email" class="form-label">Chave de Recuperação</label>
                    <input type="email" class="form-control" formControlName="email" id="email" required>
                </div>
                <div class="mb-3">
                    <label for="senha" class="form-label">Senha</label>
                    <input type="email" class="form-control" formControlName="email" id="email" required>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Confirmação senha</label>
                    <input type="email" class="form-control" formControlName="email" id="email" required>
                </div>
                <!-- </form> -->
            </div>
            <div class="card-footer">
                <button type="submit" class="btn btn-primary">Enviar</button>

            </div>
        </div>
    </div>
</div>