<p-confirmpopup />

<div class="row">
    <div class="col-8 offset-2">
        <div class="card">
            <div class="card-header">
                Configuração Embedded   
            </div>
            <div class="card-body">
                <p>Apaga todos os índices criados: <button class="float-end btn btn-sm btn-danger" style="min-width: 100px;" (click)="confirmDelete($event)">Apagar</button>  </p>
                <hr>
                <p>Refaz os indices apenas dos nulos: <button class="float-end btn btn-sm btn-dark " style="min-width: 100px;">Cria</button>  </p>
            </div>
        </div>
    </div>
</div>
