@if(usaEmbedding()){
<div class="mb-3">

    <p-panel header="Busca de IC via Embedding" [toggleable]="true" [collapsed]="false">
        <div class="row">
            <div class="col-12">

                <textarea [(ngModel)]="pesquisaEmbeddingPrompt" class="form-control"></textarea>

            </div>
        </div>
        <div class="row">
            <div class="col-6">
                @if(showCreuza()){
                    <a href="javascript:void(0)" [style]="estiloMicrofone()" (click)="iniciaAudio()"><i class="fa-solid fa-microphone"></i></a>
                }
            </div>
            <div class="col-6 text-end">
                <button class="btn btn-primary float-end mt-2 mb-2" (click)="pesquisaPrompt()">Pesquisa</button>
            </div>
        </div>
        @if(icsPromptResultado().length > 0){
        <div class="row">

            <div class="col-12">
                <h6>Resultados da pesquisa:</h6>
                <ul class="list-group">
                    @for (item of icsPromptResultado(); track item.id) {
                    <li (click)="autoCompleteSelecionado(item)" class="list-group-item">{{ item.nomeCompleto }} <span
                            class="float-end" style="font-size: 70%;">({{ item.tipo.nome
                            }})</span>
                    </li>
                    }
                </ul>
            </div>
        </div>
        }
    </p-panel>
</div>
}


<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                <label class="form-label">Nomde do IC</label>
                <app-ic-autocomplete [(ngModel)]="icAutocomplete" (selecionado)="autoCompleteSelecionado($event)" />
            </div>
            <div class="card-body">
                <app-ic-familia-completa [ic]="icSelecionado()" (selecionado)="autoCompleteSelecionado($event)"
                    #treeIc></app-ic-familia-completa>
            </div>
        </div>
    </div>
    @if (icSelecionado()){
    <div class="col-8">
        <div class="card">
            <div class="card-header text-success " style="font-weight: bold;">
                {{ icSelecionado()?.nomeCompleto }}
            </div>

            <div class="card-body">

                <p-tabs [value]="tabSelecionado" [scrollable]="true">
                    <p-tablist>
                        <p-tab value="0">Cadastro</p-tab>
                        <p-tab value="1">Cria filho</p-tab>
                        <p-tab value="2">Segredos
                            @if (quantidadeSegredos() > 0) {
                            <p-badge [value]="quantidadeSegredos()" badgeSize="small" />
                            }
                        </p-tab>
                        <p-tab value="3">Mudança de paternidade</p-tab>
                        <p-tab value="4">Conhecimento
                            @if (quantidadeConhecimentos() > 0) {
                            <p-badge [value]="quantidadeConhecimentos()" badgeSize="small" />
                            }

                        </p-tab>
                        <p-tab value="5">Dependências</p-tab>
                        <p-tab value="6">Dependentes</p-tab>
                    </p-tablist>
                    <p-tabpanels>
                        <p-tabpanel value="0">
                            <p class="m-0">
                                <app-ic-cadastro [ic]="icSelecionado()" (gravado)="icCadastroGravado($event, null)" />
                            </p>
                        </p-tabpanel>
                        <p-tabpanel value="1">
                            <p class="m-0">
                                <app-ic-cadastro [novo]="true" [icPai]="icSelecionado()"
                                    (gravado)="icCadastroGravado($event, treeIc)" />
                            </p>
                        </p-tabpanel>
                        <p-tabpanel value="2">
                            <app-segredo [ic]="icSelecionado()" (quantidade)="retornoQuantidadeSegredos($event)" />
                        </p-tabpanel>
                        <p-tabpanel value="3">
                            <div class="row">
                                <div class="col-10">
                                    <app-ic-autocomplete [(ngModel)]="icNovoPai" />
                                </div>
                                <div class="col">

                                    <button class="btn btn-primary" [disabled]="!icNovoPai"
                                        (click)="mudaPaternidade()">Novo pai</button>
                                </div>
                            </div>
                        </p-tabpanel>
                        <p-tabpanel value="4">
                            <app-conhecimento [ic]="icSelecionado()"
                                (quantidade)="retornoQuantidadeConhecimentos($event)"></app-conhecimento>
                        </p-tabpanel>
                        <p-tabpanel value="5">
                            <app-dependencia [ic]="icSelecionado()" [dependente]="true"></app-dependencia>
                        </p-tabpanel>
                        <p-tabpanel value="6">
                            <app-dependencia [ic]="icSelecionado()" [dependente]="false"></app-dependencia>
                        </p-tabpanel>
                    </p-tabpanels>
                </p-tabs>

            </div>
        </div>
    </div>
    }
</div>