<form [formGroup]="frmIC" (ngSubmit)="grava()" novalidate>

    <div class="row">
        <div class="col-6">
            <label for="nome">Nome</label>
            <input pInputText id="nome" formControlName="nome" placeholder="Nome do IC">
        </div>
        <div class="col-6">
            <label for="sigla">Tipo</label>
            <p-select [options]="tipos()" formControlName="idTipo" optionLabel="nome" optionValue="id"
                placeholder="Selecione um Tipo" />
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-4">
            <p-checkbox inputId="chativo" name="chativo" formControlName="ativo" [binary]="true" />
            <label for="chativo" class="ml-2">Ativo</label>
        </div>
        <div class="col-4">
            <p-checkbox inputId="chativoFinal" name="chativoFinal" formControlName="ativoFinal" [binary]="true" />
            <label for="chativoFinal" class="ml-2">Ativo Final</label>

        </div>
        <div class="col-4">
            <p-checkbox inputId="chativoPai" name="chativoPai" formControlName="ativoPai" [binary]="true" />
            <label for="chativoPai" class="ml-2">Ativo Pai</label>
        </div>
    </div>
    <div class="row mt-2 ">
        <div class="col">
            <table class="table table-striped table-bordered caption-top">
                <caption><button type="button" class="btn btn-primary" (click)="propriedadeNova()">Novo</button>
                </caption>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Valor</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody formArrayName="propriedades">
                    @for(propiedadeIC of icPropriedades.controls; track $index; let i = $index){
                    <tr [formGroupName]="i">
                        <td><input class="form-control" formControlName="nome" /> </td>
                        <td><input class="form-control" formControlName="valor" /></td>
                        <td>
                            <a href="javascript:void(0)" (click)="propriedadeRemove(i)"><i class="pi pi-trash"></i></a>
                        </td>
                    </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>

</form>

@if(frmIC.value){
<pre>{{ frmIC.value | json }}</pre>
}