<div class="row">
    <div class="col-6">
        <div class="card">
            <div class="card-header">Configurações</div>
            <div class="card-body">
                <p-tree [value]="arvore" selectionMode="single" [(selection)]="selecionado"
                    (onNodeSelect)="itemSelecionado($event)" (onNodeUnselect)="itemDesselecionado()"></p-tree>
            </div>
        </div>
    </div>
    @if(configuracaoSelecionada!=null && configuracaoSelecionada.tipoValor!=='grupo'){

    <div class="col-6">
        <div class="card">
            <div class="card-header">{{configuracaoSelecionada.nomeCompleto || 'Selecione uma configuração'}} ({{configuracaoSelecionada.id}})</div>
            <div class="card-body">

                @switch (configuracaoSelecionada.tipoValor) { @case ('texto') {
                <textarea class="form-control" type="text" [(ngModel)]="configuracaoSelecionada.valorTexto"></textarea>
                } @case ('numerico') {
                <input type="number" class="form-control" [(ngModel)]="configuracaoSelecionada.valorNumerico" />
                } @case('complexo'){
                <textarea class="form-control" rows="4" cols="50"
                    [(ngModel)]="configuracaoSelecionada.valorComplexo"></textarea>
                }
                }
            </div>
            <div class="card-footer text-end">
                <button class="btn btn-primary" (click)="salvar()"><i class="pi pi-save"></i> </button>
            </div>
        </div>
    </div>
    }
</div>