<p-dialog header="Primeiro Acesso" [modal]="true" [(visible)]="primeiroAcesso" [style]="{ width: '25rem' }">
    <span class="p-text-secondary block mb-8">Update your information.</span>
    <div class="flex items-center gap-4 mb-4">
        <label for="username" class="font-semibold w-24">Username</label>
        <input pInputText id="username" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex items-center gap-4 mb-8">
        <label for="email" class="font-semibold w-24">Email</label>
        <input pInputText id="email" class="flex-auto" autocomplete="off" />
    </div>
    <div class="flex justify-end gap-2">
    </div>
</p-dialog>

<p-popover #op>
    <form [formGroup]="formLogin" (ngSubmit)="login()">
        <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Identificação</label>
            <input type="email" class="form-control" formControlName="identificacao" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input type="password" class="form-control" formControlName="senha">
        </div>
        <div class="mb-3">
            <p-checkbox inputId="ingredient1" name="chLocal" [binary]="true" formControlName="local" />
            <label for="ingredient1" class="ml-2">Local</label>
        </div>
        <div class="row">
            <div class="col-5"><button type="submit" class="btn btn-primary">Acesso</button></div>
            @if (formLogin.get('local')?.value == true) {

                <div class="col-7">
                    <a href="javascript:void(0)" (click)="esqueciSenha()" style="font-size: 70%;">Esqueci minha senha</a>
                </div>
            }

        </div>
    </form>

</p-popover>

<div class="presentation-container">
    <h1>Bem-vindo ao CMDB
        <button class="btn btn-primary float-end" (click)="iniciaLogin($event, op)">Login</button>
    </h1>
    <p>O CMDB (Configuration Management Database) é uma ferramenta poderosa para gerenciar e monitorar a infraestrutura
        de
        TI da sua organização.</p>
    <ul>
        <li>Gerenciamento de ativos de TI</li>
        <li>Monitoramento de configurações</li>
        <li>Relatórios detalhados</li>
        <li>Integração com outras ferramentas</li>
    </ul>
</div>

<!-- <p-overlayPanel #op>
</p-overlayPanel> -->