
<p-confirmdialog />

<p-dialog header="Novo Segredo" [modal]="true" [(visible)]="mostraNovo">
    @if (organogramas()) {
    <form [formGroup]="formNovo">
        <div class="mb-3">
            <label for="idOrganogramaDono">Organograma</label>
            <p-select [options]="organogramas()" formControlName="idOrganogramaDono" optionLabel="nomeCompleto"
                optionValue="id" placeholder="Selecione um Proprietário"></p-select>
        </div>
        <div class="mb-3">
            <label for="conteudo">Conteúdo</label>
            <input type="text" class="form-control" formControlName="conteudo">
        </div>
        <div class="mb-3 text-end">
            <button class="btn btn-primary" (click)="salvar()"><i class="pi pi-save"></i></button>
        </div>
    </form>
    }
</p-dialog>

<p-dialog header="Conteúdo" [modal]="true" [(visible)]="mostraSegredo">
    @if (conteudo()) {
    <div>
        {{ conteudo() }}
    </div>
    }

</p-dialog>

<div class="row">
    <div class="col-12">
        @if (lista() ){

        <p-table [value]="lista()">
            <ng-template #header>
                <tr>
                    <th>Proprietário</th>
                    <th>Ação
                        <a href="javascript:void(0)" class="float-end" (click)="novo()"> <i class="pi pi-plus"></i> </a>
                    </th>
                </tr>
            </ng-template>
            <ng-template #body let-item>
                <tr>
                    <td>
                        @if (item.usuarioDono){
                        <i class="pi pi-user me-1"></i> <span>{{ item.usuarioDono.nome }}</span>
                        Meu segredo
                        } @else {
                        <i class="pi pi-sitemap me-1"></i> <span>{{ item.organogramaDono.nomeCompleto }}</span>
                        }
                    </td>
                    <td>
                        <a href="javascript:void(0)" class="me-2" (click)="mostraConteudo(item.id)">
                            <i class="pi pi-eye"></i> </a>
                        <a href="javascript:void(0)" class="text-danger" (click)="confirmaExclusao($event, item.id)"> <i
                                class="pi pi-trash"></i> </a>
                    </td>
                </tr>
            </ng-template>
        </p-table>
        }
    </div>
</div>