@if(familia()){
<div>
    <ul class="list-group">
        @if(familia()?.ancestrais){

        @for( ancestral of familia()?.ancestrais; track ancestral.id){
        <li class="list-group-item " style="background-color: rgb(236, 234, 234);">
           <a href="javascript:void(0)" (click)="selecionaIc(ancestral)">{{ ancestral.nome }}</a>
           <span class="float-end" style="font-size: 70%;">({{ ancestral.tipo.nome }})</span>
        </li>
        }
        }

        <li class="list-group-item active" style="padding-left: 30px;">{{ familia()?.nome }} 
            <span class="float-end" style="font-size: 70%;">({{ familia()?.tipo?.nome }})</span>
        </li>
        @for( filho of familia()?.filhos; track filho.id){
        <li class="list-group-item" style="padding-left: 50px;">
            <a href="javascript:void(0)" (click)="selecionaIc(filho)">{{ filho.nome }}</a>
            <span class="float-end" style="font-size: 70%;">({{ filho.tipo.nome }})</span>
        </li>
        }
    </ul>

</div>
}