<header style="height: 45px;">
    <nav class="navbar-expand-md navbar-dark fixed-top bg-ligh">
        <p-menubar [model]="items">
            <ng-template #start>
                <a routerLink="/home" class="navbar-brand">
                    <img src="assets/cmdb-fundo-transparente_branco.png" height="40" />
                </a>
            </ng-template>
            <ng-template #end>
                <a href="javascript:void(0)" (click)="sair()"><i class="pi pi-sign-out"></i></a>
            </ng-template>
        </p-menubar>
    </nav>
</header>

<main role="main" style="margin-left: 20px;margin-right: 20px;">
    <router-outlet />
</main>

<footer class="container mt-4">
    <p>&copy; 2017-2018 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
</footer>