<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-header">Organograma</div>
            <div class="card-body">
                <app-org-autocomplete [(ngModel)]="orgAutoSelecionado"
                    (selecionado)="autoCompleteSelecionado($event)"></app-org-autocomplete>
                <app-org-treeview [(ngModel)]="orgTreeSelecionado"
                    (selecionado)="autoCompleteSelecionado($event)"></app-org-treeview>
            </div>
        </div>
    </div>
    @if (orgSelecionado()){
        <div class="col-8">
            <div class="card">
                <div class="card-header text-success " style="font-weight: bold;">
                    {{ orgSelecionado()?.nomeCompleto }}</div>
                <div class="card-body">
                    <p-tabs value="0" [scrollable]="true">
                        <p-tablist>
                            <p-tab value="0">Cadastro</p-tab>
                            <p-tab value="1">Cria filho</p-tab>
                            <p-tab value="2">Mudança de paternidade</p-tab>
                            <p-tab value="3">Equipe</p-tab>
                        </p-tablist>
                        <p-tabpanels>
                            <p-tabpanel value="0">
                                <app-cadastro [org]="orgSelecionado()"></app-cadastro>
                            </p-tabpanel>
                            <p-tabpanel value="1">
                                <app-cadastro [novo]="true" [orgPai]="orgSelecionado()"
                                    (gravado)="orgCadastroGravado($event)"></app-cadastro>
                            </p-tabpanel>
                            <p-tabpanel value="2">
                                <div class="row">
    
                                    <div class="col-10">
        
                                        <app-org-autocomplete [(ngModel)]="orgNovoPai"></app-org-autocomplete>
                                    </div>
                                    <div class="col-2">
        
                                        <button class="btn btn-primary" [disabled]="!orgNovoPai"
                                            (click)="mudaPaternidade()">Novo pai</button>
                                    </div>
                                </div>
    
                            </p-tabpanel>
                            <p-tabpanel value="3">Equipe</p-tabpanel>
                        </p-tabpanels>
                    </p-tabs>
                </div>
            </div>
        </div>
    }
</div>