name: teset
on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: cria Imagem
      run: | 
        echo inicia
        echo maisUm
        echo ${{github.ref_name}}
    
    

